<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주민등록증 모바일 확인서비스 - 만료일</title>
</head>
<body>

    <h1><%= name %> 님의 남은 일수</h1>
    <h2>등록 일자 : <%= date %></h2>
    <h2>만료 일자 : <%= expiration_date %></h2>
    <h2>남은 일자 : <%= remaining %></h2>
    
</body>
</html>