<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>위조민증 전문</title>
</head>
<body>
    <% if(type === 'create') { %> 
        <h1><a href="<%= url %>">여기</a> 로 들어가시면 연결됩니다</h1>
        토큰 : <%= url %>
    <% } else if(type === 'edit') { %>
        <h1>성공적으로 유저의 데이터를 변경했습니다</h1>
    <% } else { %> 
        <h1>타입을 찾을 수 없습니다</h1>
    <% } %>
    
</body>
</html>